.communication {
  display: flex;
  width: 100%;

  h2 {
    margin: 0 0 39px;
    font-family: $bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }

  @media (max-width: $desktop-width) {
    flex-direction: column;

    h2 {
      margin-bottom: 32px;
      font-size: 42px;
      line-height: 42px;
    }
  }

  @media (max-width: $tablet-width) {
    h2 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.communication__wrapper {
  max-width: 425px;
}

.communication__form {
  padding: 68px 168px 66px 0;
  flex-basis: 50%;
  color: $main-white;
  background-color: $main-blue;

  .communication__wrapper {
    margin: 0 0 0 auto;
    padding-left: 12px;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    row-gap: 28px;
  }

  input {
    max-width: 190px;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #74819c;
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $main-white;
    padding: 0;

    &::placeholder {
      font-family: $roboto-condensed;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $main-white;
    }
  }

  button[type="submit"] {
    grid-column: 1/3;
    height: 55px;
    background-color: transparent;
    border: 3px solid $main-white;
    color: $main-white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $main-red;
      border-color: $main-red;
    }
  }

  @media (max-width: $desktop-width) {
    padding: 69px 162px 68px 132px;

    .communication__wrapper {
      max-width: unset;
      margin: 0 auto;
      padding: 0;
    }

    form {
      row-gap: 28px;
      column-gap: 60px;
    }

    input {
      max-width: unset;
    }

    button[type="submit"] {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 70px 15px 68px;

    form {
      gap: unset;
      display: flex;
      flex-direction: column;
    }
  }
}

.communication__input-wrapper {
  position: relative;

  input {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;

    &:last-of-type {
      margin-bottom: 38px;
    }
  }
}

.communication__message {
  display: none;

  &--error {
    font-family: $roboto-condensed;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    display: block;
    position: absolute;
    width: max-content;
    max-width: 100%;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 5;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.communication__contacts {
  padding: 68px 0 64px 120px;
  flex-basis: 50%;
  border-top: 1px solid #74819c;

  .communication__wrapper {
    max-width: 484px;
    margin: 0;
    padding-right: 15px;
  }

  h2 {
    margin-bottom: 41px;
    grid-column: 1/3;
  }

  @media (max-width: $desktop-width) {
    border-top: none;
    padding: 70px 103px 66px 133px;

    .communication__wrapper {
      padding: 0;
      max-width: unset;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 70px 15px 63px;

    h2 {
      margin-bottom: 33px;
    }
  }
}

.communication__list-wrapper {
  margin: 0;
  position: relative;

  @media (max-width: $desktop-width) {
    width: 100%;
    justify-content: start;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    column-count: 1;
    column-gap: unset;
    column-rule: none;
  }
}

.communication__list {
  margin: 0;
  position: relative;
  column-count: 2;
  column-gap: 112px;
  column-width: 170px;
  column-rule: 1px solid #74819c;

  dt {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 3px 4px;
  }

  dd {
    width: inherit;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 0 0 18px 4px;

    &:nth-of-type(2n) {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: $main-blue;

    &:hover,
    &:focus {
      color: $main-red;
    }
  }

  @media (max-width: $desktop-width) {
    column-gap: 96px;

    dt {
      margin: 0 0 8px 0;
      font-size: 20px;
      line-height: 150%;
    }

    dd {
      margin: 0 0 23px 0;
      font-size: 18px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0;

    dd {
      &:nth-of-type(2n) {
        margin-bottom: 19px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    dt {
      margin-bottom: 10px;
    }
  }
}
