.footer {
  background-color: $darkest-blue;
  color: $main-white;
}

.footer__navigation {
  display: flex;
  max-width: 1190px;
  padding: 41px 15px 35px;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    padding: 41px 39px 41px 39px;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    padding: 48px 15px 52px;
    flex-direction: column;
  }
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  a {
    display: block;
    text-decoration: none;
    color: $main-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &--navigation {
    max-width: 440px;
    margin: 5px auto 0 0;

    li {
      width: max-content;
      margin: 0 40px 10px 0;

      &:last-of-type {
        margin-right: 0;
      }
    }

    a[href] {
      &:hover,
      &:focus {
        color: $main-red;
      }
    }
  }

  &--social {
    margin-right: 1px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 11px;

    li {
      margin: 0;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      color: $main-blue;
      background-color: $main-white;

      &:hover,
      &:focus {
        background-color: $main-red;
        color: $main-white;
      }
    }
  }

  @media (max-width: $desktop-width) {
    &--navigation {
      margin: 8px auto 0 37px;

      li {
        margin-right: 30px;
      }
    }

    &--social {
      margin: 4px 0 0 auto;
    }
  }

  @media (max-width: $tablet-width) {
    &--navigation {
      display: block;
      width: 100%;
      margin: 0 0 15px;
      columns: 100px 2;
      column-gap: 30px;
      column-fill: auto;

      &::before {
        content: "";
        display: block;
        width: 50px;
        height: 26px;
        margin-bottom: 14px;
      }

      li {
        margin-bottom: 21px;
      }

      a {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &--social {
      margin: 0 auto 0 0;
    }
  }
}

.footer__main-link {
  margin: 2px 279px 0 0;
  font-family: $bebas-neue;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (max-width: $desktop-width) {
    margin: 4px auto 0 6px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $tablet-width) {
    position: absolute;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.footer__social-icon {
  fill: $darkest-blue;
}
