.weights {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 360px;
  transform: translateY(-72%);

  img {
    display: block;
    position: absolute;
    bottom: 2px;
    right: -108px;
    transform: rotate(151deg);
  }

  @media (max-width: $desktop-width) {
  transform: translateY(-78%);

    img {
      width: 289px;
      height: 345px;
      bottom: 4px;
      right: -9px;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
