@font-face {
  font-family: "Bebas neue";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/bebas-neue-400.woff2") format("woff2"),
    url("../fonts/bebas-neue-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Bebas neue";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/bebas-neue-700.woff2") format("woff2"),
    url("../fonts/bebas-neue-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "roboto condensed";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/roboto-condensed-300.woff2") format("woff2"),
    url("../fonts/roboto-condensed-300.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "roboto condensed";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/roboto-condensed-400.woff2") format("woff2"),
    url("../fonts/roboto-condensed-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "roboto condensed";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/roboto-condensed-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-700.woff") format("woff");
  font-display: swap;
}
