//colors
$main-white: #ffffff;
$main-blue: #102654;
$light-blue: #103aae;
$dark-blue: #1c3374;
$main-red: #ed0233;
$sub-red: #d10a42;
$darkest-blue: #030a1a;
$bg-white: #f8f9fc;
$light-grey: #495a7d;
$border-gradient: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);

//fonts
$roboto-condensed: "roboto condensed", "Arial", sans-serif;
$bebas-neue: "Bebas neue", "Arial", sans-serif;

// display
$desktop-width: 1199px;
$tablet-width: 767px;
$mobile-width: 319px;
